.link {
  padding: 4px 0;
  opacity: 0.6;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (min-width: 480px) {
    margin-right: 35px;
  }

  @media (min-width: 768px) {
    margin-right: 75px;
    margin-left: 0;
  }
}

.linkActive {
  composes: link;
  box-shadow: 0 2px 0 var(--brand);
  opacity: 1;
}
