.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 14px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--brand);
  border: none;
  border-radius: 6px;
  transition: background-color 200ms ease-out, color 200ms ease-out;

  &:hover,
  &:focus {
    background-color: var(--brandActive);
    cursor: pointer;
  }

  svg {
    width: 18px;
    margin-left: 8px;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.transparent {
  padding: 0;
  color: var(--brand);
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--brandActive);
    background-color: transparent;
    cursor: pointer;
  }
}
