.button {
  padding: 10px 14px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--brand);
  border: none;
  border-radius: 6px;
  transition: background-color 200ms ease-out;

  &:hover,
  &:focus {
    background-color: var(--brandActive);
    cursor: pointer;
  }
}
