.input {
  padding: 8px 12px;
  color: var(--text);
  font-size: 17px;
  font-family: var(--fontFamily);
  background-color: var(--bg);
  background-color: var(--inputBg);
  border: 1px solid var(--border);
  border-radius: 6px;
  -webkit-appearance: none;
}
