.wrapper {
  margin-bottom: 50px;

  @media (min-width: 480px) {
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -0.3px;

  @media (min-width: 480px) {
    margin-bottom: 18px;
    font-size: 38px;
  }
}

.description {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.4;
  opacity: 0.8;

  @media (min-width: 480px) {
    font-size: 19px;
    line-height: 1.35;
  }
}
