.wrapper {
  margin-bottom: 50px;

  @media (min-width: 480px) {
    margin-bottom: 90px;
  }
}

.wrapperCompact {
  margin-bottom: 0;

  @media (min-width: 480px) {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 26px;
  letter-spacing: -0.3px;

  @media (min-width: 480px) {
    margin-bottom: 15px;
    font-size: 38px;
  }
}

.description {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.8;

  @media (min-width: 480px) {
    font-size: 19px;
  }
}
