.wrapper {
  margin-bottom: 90px;
}

.title {
  margin-bottom: 18px;
  font-weight: 800;
  font-size: 38px;
  letter-spacing: -0.3px;
}

.description {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.35;
  opacity: 0.8;
}
