.container {
  max-width: var(--siteWidth);
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 480px) {
    padding: 0 30px;
  }
}

.main {
  margin-bottom: 80px;
}

.footer {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid var(--border);

  p {
    opacity: 0.3;
  }
}
.copyright {
  text-align: center;
}

.links {
  display: grid;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  li {
    margin-bottom: 0;
    font-weight: 500;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
