.list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 4rem;
  }
}

.title {
  display: block;
  margin-bottom: 10px;
  color: var(--brand);
  font-weight: 700;
  font-size: 22px;
}

.summary {
  margin-bottom: 10px;
  font-size: 18px;
  opacity: 0.7;
}

.meta {
  font-size: 0.95em;
  opacity: 0.5;
}

.noResults {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}
