.project {
  width: 100%;
  margin-bottom: 40px;

  @media (min-width: 480px) {
    margin-bottom: 75px;
  }
}

.background {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 50%;
  overflow: hidden;
  background-color: black;
  border-radius: 15px;

  @media (min-width: 890px) {
    margin-right: -25px;
    margin-left: -25px;
  }
}

.imageWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-bottom: 0;
}

.image {
  display: block;
}

.title {
  margin-bottom: 5px;
  font-size: 26px;

  @media (min-width: 480px) {
    font-size: 30px;
  }
}

.description {
  margin-bottom: 8px;
  font-size: 16px;
  opacity: 0.8;

  @media (min-width: 480px) {
    margin-bottom: 12px;
    font-size: 18px;
  }
}
.links {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: 480px) {
    flex-direction: row;
    gap: initial;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--brand);
  font-weight: 400;
  font-size: 16px;
  transition: color 200ms ease-out;

  @media (min-width: 480px) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    color: var(--brandActive);
  }

  svg {
    width: 20px;
    height: auto;
    margin-left: 8px;
  }
}

.dividerDot {
  display: none;
  margin: 0 10px;
  opacity: 0.6;

  @media (min-width: 480px) {
    display: inline;
  }
}
