.project {
  width: 100%;
  margin-bottom: 40px;

  @media (min-width: 480px) {
    margin-bottom: 75px;
  }
}

.imageWrapper {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 50%;
  overflow: hidden;
  background-color: black;
  border-radius: 15px;

  @media (min-width: 890px) {
    margin-right: -25px;
    margin-left: -25px;
  }
}

.small {
  padding-bottom: 65%;
  @media (min-width: 480px) {
    padding-bottom: 100%;
  }

  .imageAnimationWrapper {
    right: 5%;
    left: 5%;
    transform: translateY(30px);
  }
}

.title {
  margin-bottom: 5px;
  font-size: 26px;

  @media (min-width: 480px) {
    font-size: 30px;
  }
}

.description {
  margin-bottom: 8px;
  font-size: 16px;
  opacity: 0.8;

  @media (min-width: 480px) {
    margin-bottom: 12px;
    font-size: 18px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--brand);
  font-weight: 400;
  font-size: 16px;
  transition: color 200ms ease-out;

  @media (min-width: 480px) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    color: var(--brandActive);
  }

  svg {
    width: 20px;
    height: auto;
    margin-left: 10px;
  }
}

.imageAnimationWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.image {
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
}
