.repo {
  display: block;
  margin-right: -16px;
  margin-bottom: 12px;
  margin-left: -16px;
  padding: 16px;

  &:focus,
  &:hover {
    background-color: var(--boxBg);
  }

  @media (min-width: 480px) {
    border-radius: 12px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;

  @media (min-width: 480px) {
    font-size: 24px;
  }
}

.description {
  margin-bottom: 0;
  font-size: 16px;
  opacity: 0.8;

  @media (min-width: 480px) {
    padding-right: 100px;
    font-size: 18px;
  }
}

.separator {
  display: inline-block;
  margin: 0 8px;
}

.stats {
  display: flex;
}

.stat {
  display: flex;
  align-items: center;
  margin: 0;
  opacity: 0.8;

  svg {
    width: 16px;
    height: 16px;
    margin-right: 3px;
  }
}
