.switch {
  display: none;

  @media (min-width: 480px) {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
}

/* Hide default HTML checkbox */
.input {
  width: 0;
  height: 0;
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 200ms ease-out;
  content: '';
}

.input:checked + .slider {
  background-color: #2196f3;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.input:checked + .slider:before {
  transform: translateX(26px);
}

.iconDark {
  position: relative;
  top: 2px;
}

.iconLight {
  composes: iconDark;
  right: -27px;
}
