.warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  font-weight: 600;
  background-color: var(--bookHeaderBg);

  svg {
    flex: 0 0 30px;
    width: 30px;
    margin-right: 15px;
  }

  path,
  line {
    stroke: var(--brand);
  }

  p.text {
    margin: 0;
  }
}
