@font-face {
  font-weight: 400;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  src: url("/fonts/GTWalsheimPro-Regular.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-weight: 500;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  src: url("/fonts/GTWalsheimPro-Medium.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-weight: 700;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  src: url("/fonts/GTWalsheimPro-Bold.woff2") format("woff2");
  font-display: optional;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
