.image {
  @media (max-width: 479px) {
    /* On mobile devices the blogimage should sit flush with the header */
    margin-top: -30px;
  }
}

.article {
  margin-bottom: 40px;
  overflow: hidden;
  color: var(--text);
  font-size: 1.125em;
  line-height: 1.6;

  @media (min-width: 480px) {
    margin-bottom: 60px;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 900;
    font-size: 1.8em;
  }

  h2 {
    margin-top: 1.1em;
    margin-bottom: -0.5em;
    font-weight: 700;
    font-size: 1.5em;
  }

  h3 {
    margin-top: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 1.2em;
  }

  h4 {
    margin-top: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 700;
    font-size: 1.1em;
  }

  hr {
    margin-top: 2.1em;
    margin-bottom: 2.1em;
    border-width: 1px;
    border-color: var(--border);
  }

  strong {
    font-weight: 700;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    & > code {
      margin: 0 3px;
      padding: 3px 7px;
      font-size: 1.1em;
      white-space: nowrap;
      background-color: var(--boxBg);
      border-radius: 5px;
    }
  }

  pre {
    margin-bottom: 2em;
    padding: 20px 25px;
    overflow: auto;
    font-weight: 500;
    border-radius: 5px;
  }

  blockquote {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    margin-left: 0;
    padding-left: 2em;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.4;
    border-left: 3px solid var(--border);
    opacity: 0.7;
  }

  ol,
  ul {
    margin-bottom: 1.8em;
  }

  li {
    margin-bottom: 0.4em;

    p {
      margin-bottom: 0.7em;
    }
  }

  ol li {
    margin-bottom: 0.6em;
  }

  a {
    color: var(--brand);
  }

  :global(.footnotes) {
    font-size: 16px;
    opacity: 0.7;

    ol {
      padding-left: 20px;
    }

    @media (min-width: 480px) {
      font-size: 18px;
    }
  }
}

.meta {
  margin: 0;
  opacity: 0.7;

  span {
    margin: 0 3px;
  }
}

.buttons {
  text-align: center;
}

.subscribe {
  margin-bottom: 30px;

  @media (min-width: 480px) {
    margin-right: -20px;
    margin-bottom: 50px;
    margin-left: -20px;
  }
}

.relatedHeading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 26px;

  @media (min-width: 480px) {
    margin-bottom: 40px;
  }
}
