.grid {
  display: grid;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (min-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}

.book {
  min-width: 0;
  margin: 0;
}

.cover {
  border-radius: 8px;
}

.title {
  display: block;
  margin-bottom: 6px;
  padding-top: 15px;
  font-size: 19px;
}

.author {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
  opacity: 0.6;
}

.sortBy {
  margin-top: -22px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.35;

  @media (min-width: 480px) {
    font-size: 19px;
    line-height: 1.35;
  }

  span {
    opacity: 0.8;
  }
}

.selectLabel {
  display: inline-flex;
  align-items: center;

  svg {
    margin-left: 5px;
    stroke: var(--brand);
  }
}

.select {
  width: auto;
  margin: 0;
  margin-left: 13px;
  color: var(--brand);
  font-weight: 500;
  font-size: 17px;
  font-family: var(--fontFamily);
  line-height: 1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  @media (min-width: 480px) {
    font-size: 19px;
  }
}
