.entry {
  position: relative;
  margin-bottom: 22px;
  padding-left: 40px;

  @media (min-width: 480px) {
    margin-bottom: 50px;
    padding-left: 80px;
  }

  &.isDone {
    &:before {
      position: absolute;
      top: 7px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      border: 4px solid var(--border);
      border-radius: 25px;
      content: '';
    }

    &:after {
      position: absolute;
      top: 27px;
      left: 8px;
      display: block;
      width: 4px;
      height: calc(100% + 2px);
      background-color: var(--border);
      content: '';

      @media (min-width: 480px) {
        height: calc(100% + 30px); /* 100% + bottom margin - circle height */
      }
    }

    &:first-of-type {
      &:before {
        border-color: var(--brand);
        animation: pulse 2s infinite;
      }
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  &.inBacklog {
    &:before {
      position: absolute;
      top: 19px;
      left: 20px;
      display: block;
      width: 21px;
      height: 21px;
      border: 3px dotted var(--borderActive);
      border-radius: 25px;
      transition: border-color 150ms ease-out;
      content: '';
    }

    &:hover,
    &:focus {
      &:before {
        border-color: var(--text);
      }
    }
  }

  &.inProgress {
    &:before {
      position: absolute;
      top: 19px;
      left: 20px;
      display: block;
      width: 20px;
      height: 20px;
      border: 4px solid #ecc962;
      border-radius: 25px;
      content: '';
    }

    &:after {
      position: absolute;
      top: 25px;
      left: 30px;
      display: block;
      width: 4px;
      height: 8px;
      background-color: #ecc962;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      content: '';
    }
  }

  &.inBacklog,
  &.inProgress {
    margin: -15px -20px 7px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 80px;
    transition: background-color 250ms ease-out;

    @media (min-width: 480px) {
      margin: -15px -20px 20px;
      font-size: 22px;
    }

    .title {
      margin-bottom: 7px;
      font-size: 18px;

      @media (min-width: 480px) {
        font-size: 22px;
      }
    }

    &:hover,
    &:focus {
      background-color: var(--boxBg);
      border-radius: 10px;
    }
  }

  &:last-of-type {
    .content {
      border: none;
    }
  }
}

.section {
  margin-bottom: 40px;

  @media (min-width: 480px) {
    margin-bottom: 60px;
  }
}

.sectionTitle {
  font-size: 22px;

  @media (min-width: 480px) {
    font-size: 26px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(227, 131, 86, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(227, 131, 86, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(227, 131, 86, 0);
  }
}

.title {
  margin-bottom: 8px;
  padding-top: 3px;
  font-size: 20px;

  @media (min-width: 480px) {
    padding-top: 0;
    font-size: 25px;
  }
}

.meta {
  display: flex;
  font-size: 14px;
  font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
  opacity: 0.7;

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.date {
  margin-bottom: 0;
}

.separator {
  margin-right: 7px;
  margin-left: 7px;
}

.image {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.content {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.65;
  border-bottom: 1px solid var(--border);

  @media (min-width: 480px) {
    padding-bottom: 30px;
    font-size: 18px;
  }

  a {
    color: var(--brand);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 27px;
  }

  li {
    position: relative;
    margin-bottom: 4px;
    list-style-type: none;

    &:before {
      position: absolute;
      top: 15px;
      left: -27px;
      display: block;
      width: 12px;
      height: 1px;
      background-color: var(--brand);
      content: '';
    }
  }
}
