@font-face {
  font-weight: 400;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Regular.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-weight: 500;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Medium.woff2') format('woff2');
  font-display: optional;
}

@font-face {
  font-weight: 700;
  font-family: 'GT Walsheim Pro';
  font-style: normal;
  src: url('/fonts/GTWalsheimPro-Bold.woff2') format('woff2');
  font-display: optional;
}

:root {
  --bg: #fff;
  --text: #000;
  --textTinted: rgba(0, 0, 0, 0.5);
  --brand: #e38356;
  --brandActive: #b3613b;
  --brandTinted: rgba(227, 131, 86, 0.2);
  --brandTintedActive: rgba(227, 131, 86, 0.33);
  --headerBg: rgba(255, 255, 255, 0.6);
  --border: rgba(0, 0, 0, 0.08);
  --borderActive: rgba(0, 0, 0, 0.25);
  --star: #fece02;
  --fontFamily: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  --boxBg: #f3f3f3;
  --siteWidth: 83ch;
  --inputBg: white;
  --likeButton: rgba(0, 0, 0, 0.05);
  --likeButtonHover: rgba(0, 0, 0, 0.1);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --secondary: #caca28;
  --transparent: rgba(255, 255, 255, 0);
}

[data-theme='dark'] {
  --bg: #161515;
  --text: #fff;
  --textTinted: rgba(255, 255, 255, 0.5);
  --headerBg: rgba(22, 21, 21, 0.6);
  --border: rgba(255, 255, 255, 0.08);
  --borderActive: rgba(255, 255, 255, 0.25);
  --boxBg: #1f1e1d;
  --star: #fef102;
  --inputBg: #292929;
  --likeButton: rgba(255, 255, 255, 0.2);
  --likeButtonHover: rgba(255, 255, 255, 0.3);
  --secondary: yellow;
  --transparent: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  color: var(--text);
  background-color: var(--bg);
}

h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: -0.3px;

  @media (min-width: 480px) {
    margin-bottom: 55px;
  }
}

/*
 * Hopscotch
 * by Jan T. Sott
 * https://github.com/idleberg/Hopscotch
 *
 * This work is licensed under the Creative Commons CC0 1.0 Universal License
 */

code[class*='language-'],
pre[class*='language-'] {
  color: #b9b5b8;
  font-size: 14px;
  font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #322931;

  @media (min-width: 480px) {
    font-size: 15px;
  }
}

pre > code[class*='language-'] {
  display: block;
  width: 100%;
  font-size: 1em;
}

/* Code blocks */
pre[class*='language-'] {
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #797379;
}

.token.punctuation {
  color: #b9b5b8;
}

.namespace {
  opacity: 0.7;
}

.token.null,
.token.operator,
.token.boolean,
.token.number {
  color: #fd8b19;
}

.token.property {
  color: #fdcc59;
}

.token.tag {
  color: #1290bf;
}

.token.string {
  color: #149b93;
}

.token.selector {
  color: #c85e7c;
}

.token.attr-name {
  color: #fd8b19;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #149b93;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #8fc13e;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #149b93;
}

.token.placeholder,
.token.variable {
  color: #1290bf;
}

.token.important {
  color: #dd464c;
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid red;
  outline-offset: 0.4em;
}

.remark-code-title {
  padding: 12px 25px;
  font-weight: 600;
  font-size: 14px;
  font-family: Menlo, Monaco, 'Lucida Console', 'Courier New', Courier, monospace;
  background-color: var(--boxBg);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

article .remark-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.highlight-line {
  position: relative;
  display: block;
  width: calc(100% + 50px);
  margin-right: -25px;
  margin-left: -25px;
  padding-left: 25px;
  background-color: var(--brandTinted);

  &:before {
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--brand);
    content: '';
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}

.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
