.header {
  margin-bottom: 40px;
  padding: 30px;
  background-color: var(--boxBg);
  border-radius: 8px;

  @media (min-width: 480px) {
    display: flex;
  }
}

.meta {
  @media (min-width: 480px) {
    margin-left: 43px;
  }
}

.cover {
  border-radius: 8px;
}

.title {
  display: block;
  margin-bottom: 7px;
  padding-top: 15px;
  font-weight: 800;
  font-size: 32px;

  @media (min-width: 480px) {
    margin-bottom: 10px;
    font-size: 36px;
  }
}

.author {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 17px;
  opacity: 0.6;
}

.genre {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
  color: white;
  font-weight: 500;
  font-size: 13px;
  background-color: #407069;
  border-radius: 3px;
}

.checkbox {
  margin: 0;
}

.metaList {
  margin-bottom: 20px;
  dt {
    position: relative;
    top: 6px;
    float: left;
    clear: left;
    font-size: 14px;
    opacity: 0.8;
  }

  dd {
    margin-bottom: 8px;
    margin-left: 150px;
    padding: 5px;
    font-size: 15px;
  }
}

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  ol {
    color: var(--text);
  }

  li {
    padding-bottom: 0;
  }

  ol,
  ul,
  p {
    font-size: 1.125em;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 1.375em;
    @media (min-width: 480px) {
      font-size: 1.875em;
    }
  }

  a {
    color: var(--brand);
    text-decoration: none;
  }

  :global(.notion-quote) {
    margin-bottom: 10px;
    color: var(--text);
    opacity: 0.8;
  }

  :global(.notion) {
    font-family: var(--fontFamily);
  }
}
